

<main>
    <div class="titulo">
        <h2>Actividades</h2>
    </div>
    <section class="contenedores">
        <div class="contenedor">
            <div class="img_container">
                <img src="Images/capitalAndorra.jpg" alt="Andorra La Vieja">
            </div>
            <h4>Visitar la capital del pais: "Andorra La Vieja"</h4>
            <p>Andorra la vieja es La capital de este pequeño y hermoso pais. En esta hay muchas cosas para hacer como visitar monumentos, Ir de compras o ir a cenar a diversos restaurantes conocidos por los locales de la ciudad. Es una actividad imperdible la cual esta 100% reocmendada por los turistas que visitan todos los años.</p>
        </div>
        <div class="contenedor">
            <div class="img_container">
                <img src="Images/AndorraEsqui.jpeg" alt="esqui">
            </div>
            <h4>Esquiar</h4>
            <p>Andorra es conocida por estar encerrada en montañas nevadas que son un buen lugar para esquiar. Si visitas Andorra, no podes no ir a esquiar a diversos lugares en el pais.</p>
        </div>
        <div class="contenedor">
            <div class="img_container">
                <img src="Images/microAndorra.jpeg" alt="Micro turistico">
            </div>
            <h4>Micro turistico</h4>
            <p>Si bien Andorra no es un lugar muy grande, es mas comodo visitarlo por completo en un micro que hace un recorrido por el pais haciendo paradas en diveros puntos de interes para el turista. Es una actividad recomendada por muchos y es una actividad en donde es asegurado que la pasas bien.</p>
        </div>
        <div class="contenedor">
            <div class="img_container">
                <img src="Images/esculturaAndorra.jpg" alt="La Noblesse du Temps">
            </div>
            <h4>La Noblesse du Temps</h4>
            <p>Situada en el Pont de la Rotonda se halla la escultura “Noblesse du Temps” de Salvador Dalí. La escultura está datada entre los años 1977 y 1984 y pertenece a la serie de relojes derretidos del artista catalán. En esta ocasión se trata de una pieza realizada en bronce con un peso total de 1400 kg y tiene unas dimensiones de 4,90 m de altura, 1,70 m de profundidad y 2,60 m de largo.</p>
        </div>
    </section>
</main>
