
    <div class="titulo">
        <h2>TurismoYa, tu empresa de turismo por excelencia</h2>
        <h3>Andorra</h3>
    </div>
    <section class="contenedores">
        <div class="contenedor">
            <div class="img_container">
                <img src="Images/puebloAndorra.jpg" alt="Andorra">
            </div>
            <h4>Ubicacion</h4>
            <p>
                Andorra se encuentra en el sudoeste de Europa, en el corazón de los Pirineos Orientales. 
                El país hace frontera con España por la comunidad autónoma de Cataluña y con Francia, por el departamento de l’Ariège.
            </p>    
        </div>                
        <div class="contenedor">        
            <div class="img_container">
                <img src = "Images/superficieAndorra.jpg">
            </div>
            <h4>Superficie</h4>
            <p>
                Con 468 km2 de superficie, solo un 8 % es terreno urbanizado; el 92 % restante es territorio forestal, lo cual convierte al país en un paraíso para los amantes de la naturaleza.
                Además de su impresionante paisaje montañoso, Andorra es conocida por sus numerosos lagos de origen glaciar, que ofrecen oportunidades para practicar senderismo, pesca y simplemente disfrutar de la serenidad de la naturaleza.
            </p>
        </div>
        <div class="contenedor">
            <div class="img_container">
                <img src = "Images/idiomaAndorra.jpg">
            </div>
            <h4>Idioma</h4>
            <p>
                El catalán es nuestra lengua oficial, aunque la diversidad de nacionalidades que conforman la población residente hace que estén muy presentes otros idiomas como el castellano, el francés y el portugués.
                Además de estos idiomas, el inglés también es ampliamente entendido y hablado, especialmente en áreas turísticas y comerciales. 
            </p>
        </div>
        <div class="contenedor">
            <div class="img_container">
                <img src = "Images/climaAndorra.jpg" > 
            </div>
            <h4>Clima</h4>
            <p>
                Andorra goza de un clima de alta montaña con influencias del mediterráneo, con un verano caluroso y un invierno frío con nevadas importantes.
                La temperatura media mínima es de -2 ºC y la máxima, de 24 ºC. Las precipitaciones en forma de nieve son frecuentes y las lluvias se concentran principalmente entre los meses de mayo y octubre.
                Este clima diverso ofrece oportunidades para una amplia gama de actividades durante todo el año, desde esquiar en las montañas hasta practicar senderismo y ciclismo en verano.
            </p>
        </div>
        <div class="contenedor">
            <div class="img_container">
                <img src = "Images/horarioAndorra.jpg" >
            </div>   
            <h4>Horario</h4>
            <p>
                Como en España y Francia, Andorra aplica el horario marcado por el meridiano de Greenwich (GMT + 1).
                Esto significa que la mayoría de las tiendas, restaurantes y atracciones turísticas están abiertas de 9 a.m. a 9 p.m., aunque los horarios pueden variar según la temporada y el día de la semana.
                Además, durante los meses de verano, muchos establecimientos extienden sus horarios para adaptarse al mayor número de visitantes.
            </p>
        </div>
    </section>
    
    <div class="informacion">
        <p>Para mas información ingrese al siguiente enlace:</p>
        <a href="https://es.wikipedia.org/wiki/Andorra">Andorra en Wikipedia</a>
    </div>

